<html>

	Admin Control Panel
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	Not sure we even ran your query!
	Here's a nice back button :)
	<a href="javascript:history.back()" onmouseover="this.style.cursor='pointer';"><%= image_tag("back.png", :alt => "Image Unavailable.", :size => @image_size) %></a>

</html>